# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/
frontend/node_modules/

# Build output
dist/
frontend/dist/
dist-ssr/

# Cache
.vite/

# Environment variables
.env
frontend/.env

# Editor folders/files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local environment overrides
*.local
