.table {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
  }

  .tableScroll{
    max-height: 520px;
    overflow-y: auto;
  }

  .table2Scroll{
    max-height: 750px;
    overflow-y: auto;
  }

  .custom_label {
    color: #333333;
  }
  .custom_input {
    height: 54px !important;
    max-width: 500px;
  }

  .custom_AddBtn{
    height: 54px !important;
    border-radius: 30px;
  }
  
  .truncate-cell {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}